html,
body {
  width: 120px;
}

.hidden {
  display: none;
}

button {
  border: none;
  width: 90px;
  margin: 2px;
  padding: 12px;
  text-align: center;
  cursor: pointer;
  background-color: #c5c5c5;
  border-radius: 4px;
}

button:hover {
  background-color: #727272;
}

button[type="reset"] {
  background-color: #979797;
}

button[type="reset"]:hover {
  background-color: #666666;
}
